.head_container {
    text-align: center;
    font-family: sans-serif;
    padding: 1cm;

}
.foot_container {
    text-align: center;
    font-family: sans-serif;
    padding: 1cm;
}
.home_container {
    text-align: center;
    font-family: sans-serif;
    padding: 1cm;
}