{% extends 'layout.html' %}
{% block content %}
<div class="home-wrapper">


    <div class="head_container">
        <h1>PosiTech</h1>
        <h2 class="tag-line">Make thoughtful investment decisions and earn millions.</h2>
        <a href="/stocks" class="btn">Get Started</a>
    </div>
    <!-- <div class="bubbles"> -->
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
<!-- </div> -->

</div>
{% endblock content %}