{% extends 'layout.html' %}
{% block content %}
<div class="optimized">
<h2> How we think you can optimize your portfolio.</h2>
<div class="optimized-content">
    <div class="col1">
        <div class="price-plot">
            <img class="center-block" src="{{ url_for('static', filename= 'year_three.png') }}" />
            <img class="center-block" src="{{ url_for('static', filename= 'year_one.png') }}" />
        </div>
    </div>
<div class = 'col2'>
<div class="o-data">
    <ul class="sr-stats">
        <li><b>Sharpe Ratio:</b> {{ stats["Sharpe Ratio"] }}</li>
        <li><b>Annual Return:</b> {{ stats["Annul return"] }}%</li>
        <li><b>Standard Deviation:</b> {{ stats["Standard deviation"] }}%</li>
    </ul>
    <table class="stock-weight">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Weight</th>
                <th>Number of Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for k,i in df.iterrows() %}
            <tr>
                <td>{{ i["Symbol"] }}</td>
                <td>{{ i["Weight"] }}</td>
                <td>{{ i["# stock"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- <div class="buttons">
        <div>Still looking to improve your portfolio? Look here</div> -->

    <!-- </div> -->
</div>
</div>
<div class="col3">
    <div>
        <a href="/predictions" class="btn"> Our Predictions </a>
        <a href="/sentiment_analysis" class="btn">Sentiment Analysis</a>
    </div>
</div>
</div>

</div>
</div>
{% endblock content %}